<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="https://2019.wwktm.co"><img src="/img/logo.png"></a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="menu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="https://2019.wwktm.co">2019</a>
                <a class="navbar-item" href="https://2018.wwktm.co">2018</a>
                <a class="navbar-item" href="http://blog.wwktm.co">Blog</a>
            </div>
        </div>
    </div>
</nav>