<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title> {{ .Title }} - {{ .Site.Title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ .Summary }}" />
    <meta name="keywords" content="" />

    <link rel="icon" href="/favicon.ico">
    <!-- <link rel="manifest" href="/manifest.json"> -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{if eq $.Site.Params.env_deploy "dev" }}
    <meta name="robots" content="noindex">
    {{end}}

    <meta property="og:url" content="{{ .Site.BaseURL }}{{ .RelPermalink }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Summary }}" />
    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
        crossorigin="anonymous" />

    {{ $style := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">


</head>

<body>