body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px !important;
}
.navbar-brand img {
  height: 45px;
  display: block;
}
.navbar-item {
  padding: 5px 25px;
  color: #4a4a4a;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin: 5px;
  border-radius: 40px;
}
.navbar-item:hover {
  background: #fff !important;
  color: #ff7d4a !important;
}
